body {
  background-image: linear-gradient(blue, white, blue);
}

nav {
  background-color: lightblue;
  color: blue;
  word-spacing: 1em;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
  text-decoration: none;
}

header{

  background-color: #000033; color: white;
  background-image: url('C:/Users/tyler/Desktop/Internet Programming/assignments/sunset.jpg');
  background-position: right;
  background-repeat: no-repeat;
  height: 70px;
  padding-top: 5px;
  padding-left: 2em;
  text-shadow: 1px 1px 1px #FFF; }

}

h1 {
  background-image: url('C:/Users/tyler/Desktop/Internet Programming/assignments/sunset.jpg');
  background-repeat: no-repeat;
  height: 100px; width: 650px; font-size: 3em;
  padding-left: 150px; padding-top: 30px;
  border: 1px solid #000033;
  border-radius: 15px;;
}

h2 {
  color: lightblue;
  font-family: "Times New Roman";
  font-size: 25px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

h3 {
  color: black;
  font-family: Verdana;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

dl {
  color: black;
  font-family: verdana;
  font-size: 13px;
  text-align: left;
}

ol {
  color: black;
  font-family: verdana;
  font-size: 13px;
  text-align: left;
}

ul {
  color: black;
  font-family: verdana;
  font-size: 13px;
  text-align: left;
}

p {
  color: black;
  font-family: Verdana;
  font-size: 13px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;

}

.myclass {
  color: black;
}

#myID {
  font-size: 10px;
  color: black;
  text-align: center;
  font-family: Verdana;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #FFFFFF;
  min-width: 650px;
  max-width: 1280px;
  box-shadow: 3px 3px 3px #333;}
}

.divclass {
  width: 500px;
  margin: auto;
  border: 3px solid #FFFAE5;
}

ol li{
  list-style-type: none;
}

a {color: blue;}
a:visited {color: blue;}
a:hover {color:#FF00FF;}
